app = "rundler-base-mainnet"
primary_region = "ewr"

[processes]
  app = "/usr/local/bin/rundler node"

# Secrets (fly secrets set):
#   RUNDLER_SIGNER_PRIVATE_KEYS, RUNDLER_NODE_HTTP

[env]
  RUNDLER_NETWORK="base"
RUNDLER_RPC_HOST="0.0.0.0"
RUNDLER_RPC_PORT="3000"
RUNDLER_RPC_URL="https://base-mainnet.g.alchemy.com/v2/r1AhqmIsNCmLSntXfSuNx"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = "off"
  auto_start_machines = true
  min_machines_running = 1
  processes = ["app"]

[[vm]]
  size = "shared-cpu-2x"
  memory = "1024mb"
  cpus = 2
